<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Cat&DOg Image Gallery</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-1">
          <h1>Cat Images</h1>

          {%for value in catImgUri%}
          <img src="{{value}}" alt="cat" />
          {%endfor%}
        </div>
        <div class="col-2">
          <h1>Dog Images</h1>

          {%for value in dogImgUri%}
          <img src="{{value}}" alt="cat" />
          {%endfor%}
        </div>
      </div>

      <form action="/" method="post">
        <input class="btn" type="submit" value="Back" />
      </form>
    </div>
  </body>
</html>
