<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Vision API</title>
  </head>
  <body>
    <div class="container">
      <form action="/visionApi" method="post">
        <input class="btn" type="submit" value="Label Detection" />
      </form>

      <form action="/object-detection" method="post">
        <input class="btn" type="submit" value="Object Detection" />
      </form>

      <form action="/callCatDog" method="post">
        <input class="btn" type="submit" value="Cat&Dog" />
      </form>

      <form action="/callCatDogImgGallery" method="post">
        <input class="btn" type="submit" value="Cat&Dog Image Gallery" />
      </form>
    </div>
  </body>
</html>
